@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Oleo+Script&family=Pacifico&display=swap');

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
  background-color: #22b35e;
  border-radius: 3px;

}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 16px;
}
.service-item-inner:hover .icon{
  background-color: #22b35e;
}
.service-item-inner:hover .icon .fa{
  font-size: 25px;
  color: #fff;
}
.imgBx:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 87%;
    height: 100%;
    background: linear-gradient(225deg, #22b35e, #fff 100%);
    z-index: 1;
    mix-blend-mode: screen;
}
.home{
  background:url(/public/ground.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.teacher{
  background:url(/public/teachers.jfif) no-repeat;
  background-size: cover;
  background-position: bottom;
  text-align: center;
}
.course{
  background:url(/public/5.jpg) no-repeat;
  background-size:cover;
  background-position: top;
  background-attachment: fixed;
  text-align: center;
}
.course::before{
  content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    background: url(/public/bg-title.png) no-repeat left center;
    position: absolute;
    left: 0;
    top: 0;
    width: 40vw;
    background-size: 100% auto;
}

.check {
  -webkit-appearance: none;

}
 .check {
  display: block;
  position: absolute;
  width: 3em;
  height: 1.6em;
  border-radius: 1em;
  background: #928d8d;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
  -webkit-transition:  0.1s ease-in-out;
  transition:  0.1s ease-in-out;
}
 .check:before {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  -webkit-transition:  all 0.2s ease-in-out;
  transition:  all 0.2s ease-in-out;
}
.check:checked {
  background: #47cf73;
}
.check:checked:before {
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  left: 1.6em;
}

.taille{
  max-height: calc(100vh - 3.5rem);
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */